language: go
go:
  - 1.1
  - 1.1.1

install:
  - echo "=============== Installing Private Repos ==============="
  - TOKEN=$(openssl rsautl -decrypt -inkey ~/.ssh/id_rsa -in .travis-support/token)
  - URL="https://$TOKEN@github.com"
  - DST=~/gopath/src/github.com/apcera
  - mkdir -p "$DST"
  - git clone --depth=1 --quiet $URL/apcera/gnatsd.git "$DST"/gnatsd
  - git clone --depth=1 --quiet $URL/apcera/util.git "$DST"/util

script:
  - go get -d -v ./...
  - go build -v ./...
  - go fmt ./...
  - go vet ./...
  - go test -i -race ./...
  - go test -v -race ./...
